/*  -------------------------------------------------------------
Variables
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
:root {
    --just-white: #FFFFFF;
    --some-white: #EEEEEE;
    --text-light-blue: #9bd1ff;
    --just-dark: #212529;
    --blue-house: #0062b7;
    --blue-dark: #013874;
    --black-rgba-05: rgba(0, 0, 0, 0.05);
    --black-rgba-10: rgba(0, 0, 0, 0.1);
    --black-rgba-15: rgba(0, 0, 0, 0.15);
    --black-rgba-20: rgba(0, 0, 0, 0.2);
    --black-rgba-30: rgba(0, 0, 0, 0.3);
    --black-rgba-40: rgba(0, 0, 0, 0.4);
    --black-rgba-50: rgba(0, 0, 0, 0.5);
    --black-rgba-60: rgba(0, 0, 0, 0.6);
    --black-rgba-80: rgba(0, 0, 0, 0.8);
    --white-rgba-05: rgba(255, 255, 255, 0.05);
    --white-rgba-10: rgba(255, 255, 255, 0.1);
    --white-rgba-20: rgba(255, 255, 255, 0.2);
    --white-rgba-30: rgba(255, 255, 255, 0.3);
    --white-rgba-40: rgba(255, 255, 255, 0.4);
    --white-rgba-50: rgba(255, 255, 255, 0.5);
    --white-rgba-60: rgba(255, 255, 255, 0.6);
    --white-rgba-80: rgba(255, 255, 255, 0.8);
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
::after,
::before{
    margin: 0px;
    padding: 0px;
    box-sizing: inherit;
    font-size: 1.6rem;
}

body{
    font-family: 'Rubik', sans-serif;
}

ul, ol{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

table{
    border-collapse: collapse;
}

.container{
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    height: 100vh;
    background: linear-gradient(to top, #d6ecff, var(--just-white));
}

.mandamiento{
    font-size: 3rem;
    font-weight: 100;
    padding: 30px 30px 5px;
    color: var(--just-dark);
}

.info{
    max-width: 500px;
    min-width: 280px;
    margin: 20px;
    padding: 15px 20px;
    border-radius: 15px;
    background: linear-gradient(250deg, var(--blue-house), var(--blue-dark));
    box-shadow: 0px 8px 16px var(--black-rgba-30);
}

.info-casa{
    font-weight: 500;
    padding: 10px 0;
    color: var(--just-white);
}

.info-cliente, 
.info-direccion, 
.fecha-pago{
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: var(--text-light-blue);
}

.fecha-pago span, 
.info-cliente span, 
.info-direccion span{
    color: var(--some-white);
    font-size: 1.4rem;
    line-height: 1.8rem;
}

.monto{
    padding: 25px 0 10px;
    /* text-align: center; */
}

.monto-total{
    font-weight: 700;
    font-size: 4rem;
    color: var(--just-white);
}

/*  -------------------------------------------------------------
PAY METHOD
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.pay{
    position: relative;
    max-width: 500px;
    top: 0;
    padding: 40px 0 0;
    text-align: center;
    transition: 0.5s cubic-bezier(0.18, 1.14, 0.5, 1.18);    
}

.pay.pay-active{
    height: auto;
    top: -230px;
    padding-bottom: 90px;
    box-shadow: 0px 30px 90px var(--black-rgba-60);
    border-radius: 25px 25px 0 0;
    background: linear-gradient(217deg, rgb(77, 162, 236), var(--blue-house) 100%),
            linear-gradient(127deg, var(--blue-house), #b0daff 100%),
            linear-gradient(336deg, var(--blue-dark), rgba(0,0,255,0) 100%);
}

.pay.pay-active .pay-method{
    color: var(--just-white);
}

.pay-method{
    font-size: 2rem;
    color: var(--just-dark);
}

.btn{
    padding: 10px 15px;
    border: 1px solid var(--just-dark);
    font-family: inherit;
    cursor: pointer;
}

.tab{
    overflow-x: hidden;
    top: 0;
    padding: 23px 0;
    position: relative;
    transition: top ease-out .5s;
}

.tab-buttons{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.btn-tab{
    padding: 20px 0;
    width: 160px;
    border: none;
    color: var(--just-dark);
    background: transparent;
}

.btn-tab span{
    padding: 10px 14px;
    font-size: 1.4rem;
    line-height: 1.6rem;
    border-radius: 25px;
    background: var(--blue-house);
    color: var(--some-white);
    cursor: pointer;
}

.btn-tab.active span{
    background: var(--blue-dark);
    color: var(--just-white);
    transition: ease-in .3s;
}

.tab-content{
    padding: 40px 20px;
}

.line{
    position: absolute;
    width: 50%;
    height: 6px;
    background: var(--blue-dark);
    transition: ease-in-out .5s;
    display: none;
}

.line-left{ left: 0; }

.line-right{ left: 50%; }

.panel1, .panel2{
    display: none;
    position: relative;
    transition: 0.5s cubic-bezier(0.18, 1.14, 0.5, 1.18);
}

.panel1{ right: -100%; }

.panel1.active{ right: 0; }

.panel2{ left: -100%; }

.panel2.active{ left: 0; }

.xtab{
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--just-white);
    border-radius: 25px;
    box-shadow: 0 5px 4px var(--black-rgba-20); 
    color: var(--just-dark);
    opacity: 0;
    font-weight: bold;
}


/*  -------------------------------------------------------------
FORM
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.form-group{
    margin: 0 0 15px;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.form-group input, .form-group select{
    width: 100%;
    height: 40px;
    padding: 0 10px;
    border: 1px solid var(--just-white);
    color: var(--just-dark);
    border-radius: 4px;
    outline: none;
    transition: box-shadow .16s, border 0.0175s;
    font-family: inherit;
    background: var(--just-white);
}

.form-group select{
    width: 48%;
    display: block;
}

.form-group input:focus{
    border: 2px solid var(--blue-house);
    box-shadow: inset 2px 4px 6px var(--black-rgba-15);
}

.form-group span{
    display: block;
    margin-bottom: 5px;
    color: var(--just-white);
}

.expiration-date{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-group .btn{
    margin-top: 20px;
    border-radius: 25px;
    background: var(--some-white);
    color: var(--just-dark);
    font-weight: 500;
    border: 1px solid var(--blue-house);
    box-shadow: 0 2px 6px var(--black-rgba-20);
}

.born-date input{
    width: 70px;
}

.form-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-content .form-group{
    width: 48%;
}

.form-content .form-group select {
    width: 100%;
}

.form-group.cvv{
    width: 20%;
}

.form-group.cliname{
    width: 75%;
}

#card_cvv{
    -webkit-text-security: disc;
}

.color-error{
    color: red;
}

.color-success{
    color: green;
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.65);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 90%;
    max-width: 400px;
    min-height: 200px;
    border-radius: 0.5rem;
    padding: 20px ;
    box-shadow: 0px 6px 12px var(--black-rgba-30);
}
.close-button {
    display: flex;
    align-items: baseline;
    justify-content: center;
    float: right;
    width: 25px;
    height: 25px;
    font-size: 2rem;
    text-align: center;
    cursor: pointer;
    border-radius: 25px;
    background-color: lightgray;
    transition: all .2s;
}
.close-button:hover {
    background-color: darkgray;
}
.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.modal-items p{
    margin-bottom: 10px;
    font-size: 1.4rem;
    text-transform: uppercase;  
    font-weight: 500;
    color: var(--just-dark);
}

.modal-items li{
    font-size: 1.4rem;
    padding: 3px 0;
}